{% extends 'base.html.twig' %}

{% block container %}
	<header>
		<nav>
			<ul>
				<li><a href="{{ path('cine_project_public_homepage') }}">Acceuil</a></li>
				<li><a href="{{ path('movie_index') }}">Films</a></li>
				<li><a href="{{ path('actor_index') }}">Acteurs</a></li>
				<li><a href="{{ path('category_index') }}">Catégories</a></li>
			</ul>
		</nav>
	</header>

	<hr>

	{% block body %}
	{% endblock %}

{% endblock %}