{% extends 'CineProjectPublicBundle::layout.html.twig' %}

{% block body %}
	<h1>{{ 'Translations'|trans }}</h1>
	<p>{{ 'text'|trans|raw }}</p>
	<p>{{ 'policy.title'|trans }}</p>
	<p>{{ 'policy.content'|trans }}</p>
{% endblock %}
