{% extends 'CineProjectPublicBundle::layout.html.twig' %}

{% block body %}
	<p>Meilleurs films :</p>
	<ul>
		{% for bestMovie in bestMovies %}
			<li>
				<p>Titre : <a href="{{ path('movie_show', {id: bestMovie.id}) }}">{{ bestMovie.title }}</a></p>
				<p>Note :{{ bestMovie.grade }}</p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
